.active-track-screen{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);

    .active-track-modal{
        width: 30%;
        height: fit-content;

        & img {
            width: 100%;

            &:hover{
                cursor: pointer;
                border: 1.5px solid #ff5500;
            }
        }
    }
}

@media (max-width: 600px){
    .active-track-modal{
        transform: translateY(-15%);
        width: 90% !important;
    }
}