.nav-container{
        height: 40px;
        box-shadow: 0px 6px 5px -6px rgba(0, 0, 0, 0.301);
        background: linear-gradient(121deg, rgba(255,85,0,1) 0%, rgba(199,66,0,1) 90%);
}

@media (max-width: 600px){
        .nav-container{
                padding: 0px 10px !important;
        }
}